.add-phrases-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 500px; /* Maximum width for larger screens */
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0; /* Light background */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Box shadow for 3D effect */
  border-radius: 8px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.phrases-form {
  display: flex;
  flex-direction: column;
}

.phrase-input-group {
  margin-bottom: 15px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inset shadow for 3D effect */
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .container {
    width: 90%; /* Adjust width for smaller screens */
  }
}

.submit-message {
  padding: 10px;
  margin: 20px auto; /* Centered horizontally */
  max-width: 500px; /* Maximum width, adjust as needed */
  border-radius: 4px;
  text-align: center;
  color: white; /* White text for better contrast */
  font-size: 16px; /* Adjust the font size as necessary */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Deeper shadow for a stronger 3D effect */
  border: 1px solid transparent; /* Optional: adds depth to the 3D effect */
  background-clip: padding-box; /* For border effect */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-message.error {
  background-color: #EF4040; /* Red background for error messages */
  transform: translateY(-2px); /* Slight raise effect */
}

.submit-message.success {
  background-color: #28a745; /* Green background for success messages */
  transform: translateY(-2px); /* Slight raise effect */
}

.submit-message:hover {
  transform: translateY(-1px); /* Slight hover effect for more interactivity */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4); /* Increased shadow on hover */
}

