/* General Styles */
/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
} */

/* Container Styles */
.DivideTeams-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Section Styles */
section {
  margin-bottom: 20px;
}

/* Header Styles */
h1, h2, h3 {
  color: #0d47a1;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

/* Player List Styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e3f2fd;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

/* Button Styles */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Messages Styles */
.error-message, .success-message {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.error {
  background-color: #ffcccb;
  color: #d8000c;
}

.success {
  background-color: #ddffcc;
  color: #4bb543;
}

/* Team and Player Section Styles */
.not-submitted, .submit-words, .start-game {
  background-color: #e1bee7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.team {
  background-color: #fff8e1;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

/* Grid Layout for Teams */
.teams-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
