.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f9f9f9;
  color: #13005A;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

.home-header {
  margin-bottom: 1rem;
}

.home-header h1 {
  color: #27a89e;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.join-section {
  text-align: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.host-button {
  background-color: #65B741;
}

.host-button:hover {
  background-color: #F2F7A1;
}

.player-button {
  background-color: #EF4040;
}

.player-button:hover {
  background-color: #F2F7A1;
}

.player-join-form {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.show-player-join-form .player-join-form {
  display: flex;
}

.game-id-input {
  padding: 0.5rem;
  border: 2px solid #27a89e;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.error-message {
  color: #d9534f;
  margin-top: 1rem;
}

.image-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.responsive-image {
  max-width: 45%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .home-header h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .responsive-image {
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .responsive-image {
    max-width: 80%;
    margin-bottom: 20px;
  }
}

.form-buttons {
  /* display: flex; */
  justify-content: space-between;
  margin-top: 1rem;
}

.back-button {
  background-color: #a9a9a9; /* A neutral gray color */
  margin-right: 10px;
}

.back-button:hover {
  background-color: #F2F7A1; /* A darker shade for hover effect */
}
