.game-header {
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  text-transform: uppercase;
}

.game-header h1 {
  color: #27a89e; /* The specified text color */
  text-transform: uppercase; /* Uppercase text for stylistic choice */
  font-size: 2.5rem; /* Larger font size for emphasis */
  margin: 0; /* Reset default margin */
}

.share-link {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 10px;
  margin: 0 auto 30px;
  width: 80%;
  max-width: 600px;
  color: #40514E;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.link-container input {
  flex: 1;
  padding: 10px;
  border: 2px solid #DCF2F1;
  border-radius: 4px;
  font-size: 1rem;
}

.link-container button {
  padding: 10px 20px;
  background-color: #a9a9a9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.link-container button:hover {
  background-color: lightgreen;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.share-link p:last-of-type {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

.message-error {
  background-color: #d9534f; /* Red background for error */
  color: white; /* White text for contrast */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text */
  margin: 20px 0; /* Space above and below the error message */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  animation: shake 0.5s; /* Shake animation for attention */
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Maximum width */
  margin-left: auto; /* Centering */
  margin-right: auto; /* Centering */
}

.message-success {
  background-color: #32CD32; 
  color: white; /* White text for contrast */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text */
  margin: 20px 0; /* Space above and below the error message */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  animation: shake 0.5s; /* Shake animation for attention */
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Maximum width */
  margin-left: auto; /* Centering */
  margin-right: auto; /* Centering */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}


.join-game {
  background-color: #f8f9fa;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

.join-game h2 {
  margin-bottom: 20px;
  color: #365486;
  font-size: 1.5rem;
}

.join-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.join-form input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 2px solid #DCF2F1;
  border-radius: 4px;
}

.join-game-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.join-game-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.player-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

.player-card {
  background-color: #AAD7D9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-card span {
  font-weight: bold;
}

.delete-button {
  background-color: #EF4040;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.delete-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .join-game {
    width: 90%;
  }

  .join-form {
    flex-direction: column;
  }

  .join-form input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .player-list {
    grid-template-columns: 1fr;
  }
}

.submit-word {
  text-align: center;
  margin-top: 30px;
}

.submit-words {
  display: inline-block;
  margin: auto;
}

.next-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .share-link, .join-game, .submit-word {
    width: 95%;
  }

  .link-container, .join-form, .buttons-containers {
    flex-direction: column;
  }

  .link-container input,
  .link-container button,
  .join-form input,
  .join-form button {
    width: 100%;
  }

  .game-header h1 {
    font-size: 1.5rem;
  }
}
