.showPlayers {
  display: block;
  background-color: #f8f9fa;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.showPlayers .not-submitted {
  text-align: center;
  /* perspective: 1000px; */
  font-size: 20px;
}

.showPlayers h2 {
  color: #27a89e;
  margin-bottom: 20px;
}

.showPlayers ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  justify-content: center;
}

.showPlayers li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transform: rotateY(0);
  backface-visibility: hidden;
}

.showPlayers li:hover {
  transform: translateY(-5px) rotateY(5deg);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.showTeams {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  max-width: 1200px;
}

.team-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  width: 40%;
}

.team-container:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.team-container h2 {
  /* background-color: #4caf50; */
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 0 10px;
  display: inline-block;
}

.team-container h3 {
  margin: 10px 0;
  /* color: #365486; */
  font-size: 1.2rem;
}

.team-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.team-container li {
  background-color: #ffffff;
  color: #333;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}

.team-container li:hover {
  background-color: #e7e7e7;
}

@media (max-width: 768px) {
  .showTeams {
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }

  .team-container {
    width: 60%;
  }

  .showPlayers {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .team-container {
    width: calc(100% - 20px);
  }

  .team-container h2 {
    font-size: 1rem;
  }

  .team-container h3 {
    font-size: 1rem;
  }
}


.message-error {
  background-color: #d9534f; /* Red background for error */
  color: white; /* White text for contrast */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text */
  margin: 20px 0; /* Space above and below the error message */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  animation: shake 0.5s; /* Shake animation for attention */
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Maximum width */
  margin-left: auto; /* Centering */
  margin-right: auto; /* Centering */
}

.message-success {
  background-color: #32CD32; 
  color: white; /* White text for contrast */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text */
  margin: 20px 0; /* Space above and below the error message */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  animation: shake 0.5s; /* Shake animation for attention */
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Maximum width */
  margin-left: auto; /* Centering */
  margin-right: auto; /* Centering */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

/* Container for buttons */
.button-container {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Styling for both buttons */
.button-container button {
  padding: 15px 30px;
  color: white;
  background-color: #007bff; /* Primary blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for buttons */
.button-container button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Different color for the Start Game button */
.startGame button {
  background-color: #28a745; /* Green color */
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
  }
}
